
* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	width: 100vw;
}

body {
	--font-family: Helvetica, Arial, sans-serif;
	--primary: #485997;
	--primary-contrast: white;
	--primary-hover: #526bbd;

	--accent: #206b7e;
	--accent-contrast: white; 
  --accent-hover: #004a5c;

	--background: white;
	--border-color: #d4deff;
	--disabled-border: #c6c6c6;
	--links: var(--primary);
	--links-hover: var(--accent);
	--shadow: 0 0 3px rgba(0, 0, 0, .16);
	--overlay: rgba(255, 255, 255, .5);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

h1 {
	color: var(--accent);
}

h2, h3 {
	color: var(--primary);
}

p { line-height: 1.5; }

a:link, a:visited {
	color: var(--links);
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:focus {
	text-decoration: underline;
	color: var(--links-hover);
}

p a:link, a:visited {
	text-decoration: underline;
}


button, .button {
	padding: 2ex 2ch;
	border-radius: 4px;
	font-size: 1rem;
	border: solid 1px;
}

button:not(:disabled), .button:not(:disabled) {
	background: var(--primary);
	color: var(--primary-contract);
	border-color:rgba(0, 0, 0, 0);
}

button:not(:disabled):hover, button:not(:disabled):focus,
.button:not(:disabled):hover, .button:not(disabled):focus {
	background: var(--primary-hover);
	cursor: pointer;
}

input, textarea, select {
	background: none;
	border: solid 1px var(--border-color);
	border-radius: 4px;
	padding: 2ex 2ch;
	font-family: var(--font-family);
	outline: none;
}
input:disabled, textarea:disabled, select:disabled {
	background: initial;
	border-color: var(--disabled-border);
}
input:not(:disabled):hover, input:not(:disabled):focus,
textarea:not(:disabled):hover, textarea:not(:disabled):focus,
select:not(:disabled):hover, select:not(:disabled):focus {
	border-color: var(--primary);
}

img { max-width: 100%; }

.container {
	margin: 0 2rem;
}

.call-to-action {
	border-style: solid;
	border-width: 1px;
	border-image: linear-gradient(45deg, #233061, #3aa7c2) 1;
	margin-bottom: 1rem;
	padding: 2rem;
}
.call-to-action h2 {
	margin-top: 0;
}
.call-to-action .action {
	display: inline-block;
	background: var(--accent);
	color: var(--accent-contrast);
	padding: 2ex 4ch;
	text-decoration: none;
}
.call-to-action .action:hover,
.call-to-action .action:focus {
	background: var(--accent-hover);
}

.actions {
	text-align: center;
}

@media (min-width: 900px) {
	.container {
		display: grid;
		grid-column-gap: 3rem;
		grid-template-columns: 5fr 2fr;
	}
}